<ion-view view-title="Transact">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.isIncome">
        Income / Expense
    </ion-toggle>
    </ion-list>

    <ion-item>
      <ion-label color="primary" stacked>Price:</ion-label>
      <input type="text" name="price" ng-model="user.price" placeholder="1000...">
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Product Tag:</ion-label>
      <div class="input-group">
        <span class="input-group-addon">#</span>
        <input type="text" class="form-control transact-label" ng-model="user.tag" placeholder="Red Bull..." id="inputGroupSuccess2" aria-describedby="inputGroupSuccess2Status" required>
      </div>
      <div class="wrapper">
        <span ng-repeat="usr in productList track by $index">
          <br ng-if="$index%2 == 0"/>
          <span class="item-remove-animate item-icon-right btn btn-primary transact-tags" ng-click="updateForm(usr)">
            {{usr.userTag}}
          </span>
        </span>

      </div>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Quantity:</ion-label>
      <input type="text" name="quantity" ng-model="user.quantity" placeholder="1...">
    </ion-item>

    <div class="col-sm-12">
      <button type="button" class="btn btn-danger btn-lg btn-block col-sm-offset-1 col-sm-11 transact-save" ng-click="push()">Save</button>
    </div>

    <div class="alert alert-success" ng-show="user.isPushed">
      <strong>Product</strong> saved!</a>.
    </div>

  </ion-content>
</ion-view>
