<ion-view view-title="Transact">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.isIncome">
        Income / Expense
    </ion-toggle>
    </ion-list>

    <ion-item>
      <ion-label color="primary" stacked>Enter Label:</ion-label>
      <input type="text" name="userName" ng-model="user.name" placeholder="Red Bull..." required>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Enter Number/Quatity:</ion-label>
      <input type="text" name="quantity" ng-model="user.quantity" placeholder="1000..." required>
    </ion-item>
  </ion-content>
</ion-view>
